
<div>
	<em>
		<%= @landmark.title %>
		<%= link_to "up", vote_landmark_path(landmark, type: "up"), method: "post" %>
		<%= link_to "down", vote_landmark_path(landmark, type: "down"), method: "post" %>
	</em>
</div>

