
<div>
	<em>
		<%= @landmark.title %>

		<%= link_to "up", vote_landmark_path(@landmark.id, type: "up"), method: "post" %>
		<%= link_to "down", vote_landmark_path(@landmark.id, type: "down"), method: "post" %> 
	</em>
</div>

