<div class="row">
  <div class="col s6 offset-s1">
    <img class="team-pic" src="http://i.imgur.com/xmAiFtR.jpg" alt="" />
    <h6>From Left -> Right: MR, WR, SB, AV</h6>
  </div>
  <div class="col s5">
    <div class="col s12">
      <h3>Sera Bak</h3>
      <p>
        BIO: FILL IN
      </p>
    </div>
    <div class="col s12">
      <h3>Wolf Reese</h3>
      <p>
        BIO: FILL IN
      </p>
    </div>
    <div class="col s12">
      <h3>Michael Rogachevsky</h3>
      <p>
        Belarus Born, Minnesota Grown. <br>
        When not coding: Hiking, Cooking, Gaming.
      </p>
    </div>
    <div class="col s12">
      <h3>Ashley Vernon</h3>
      <p>
        BIO: FILL IN
      </p>
    </div>
  </div>
</div>
