
<main>
  <div class="carousel carousel-slider" data-indicators="true">
    <% @photos.each do |photo| %>
      <div class="carousel-item white-text" href="#one!">
        <h2 class="center white-text"><%= photo.title %></h2>
        <img src="<%= photo.url %>" alt="" />
      </div>
    <% end %>
  </div>
</main>
