//=require landmarks
//=require_tree .
@import "materialize";
body {
  background: #D1C4E9;
}

.nav-wrapper, #footer{
  background-color: #512DA8;
}
#logo {
  margin-left: 15px;
}
main {
  height: 75vh;
}
.photo_back{
  height: 100%;
  background-image: url('http://i.imgur.com/IIKMVB8.jpg');
  background-size: cover;
  padding-top: 5vh;
  padding-left: 7vw;
}
#show_photo {
  display: block;
  vertical-align: middle;
  box-shadow:
    0px 47px 86px 9px rgba(0,0,0,0.52);
  border: 15px solid black;
}
#idx_photo{
  border: 15px solid black;
}
.ftr_lnk {
  margin-right: 5vw;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.ftr {
  display: flex;
  align-items: center;
}
#user_bar{
  margin-bottom: 0;
}
