//=require landmarks
//=require_tree .
@import "materialize";
body {
  background: #D1C4E9;
}

.nav-wrapper, #footer{
  background-color: #512DA8;
}
#logo {
  margin-left: 15px;
}

.ftr_lnk {
  margin-right: 5vw;
}
.ftr {
  display: flex;
  align-items: center;
}
