//=require landmarks
//= require social-share-button
//=require_tree .
@import "materialize";

// application.html.erb
#flash {
  text-align: center;
  position: absolute;
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  z-index: 2000;
}
.nav-wrapper, #footer{
  background-color: #311b65;
}
#logo {
  margin-left: 15px;
}
.ftr_lnk {
  margin-right: 5vw;
}
#footer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 800;
}

// photos/index.html.erb
#carousel_title {
  background-color: transparent;
}
.carousel{
  margin: 15px;
  box-shadow:0px 47px 86px 9px rgba(0,0,0,0.52);
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: 55vh;
}

// photos/show.html.erb, users/show.html.erb, landmarks/show.html.erb
#show_photo {
  margin-top: 5vh;
  display: block;
  vertical-align: middle;
  max-width: 45vw;
  box-shadow:0px 47px 86px 9px rgba(0,0,0,0.52);
  border: 10px solid black;
}
#show_photo.active {
  max-width: 100vw;
  z-index: 1500;
  margin: 0;
}
// users/show.html.erb
.hidden {
  display: none;
}



#user_bar{
  margin-bottom: 0;
}
#profile_btn {
  position: fixed;
  left: 2vw;
  bottom: 1vh;
  z-index: 1200;
}
#photo_display{
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

#card_title {
  font-size: 1.3vw;
}


#carousel_photo {
  height: auto;
  width: 100%;
}


.social-share-button {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
.ssb-icon {
  margin: 5px;
}
#photo-show-btns {
  position: fixed;
  bottom: 10vh;
}

.active {
  max-width: 100vw;
}
.comments-column {
    background-color: rgba(0,0,0,.5);
    height: 100vh;
}
.comments-header {
  margin-top: 5vh;
}
.comments-container {
  margin-top: 5vh;
}
.comment-card {
  border: 2px solid black;
  margin-left: auto;
}
.team-pic {
  margin-top: 5vh;
  border: 10px solid black;
  max-width: 50vw;
  max-height: 60vh;
  height: auto;
  width: auto;
}
.signature {
  color: black;
  margin-right: 5vh;
}
