//=require landmarks
//= require social-share-button
//=require_tree .
@import "materialize";
small {
  text-align: center;
}
#flash {
  text-align: right;
}
.nav-wrapper, #footer{
  background-color: #311b65;
}
#logo {
  margin-left: 15px;
}
#carousel_title {
  background-color: transparent;
}
.carousel{
  margin: 15px;
  border: 10px solid black;
  width: 60vw;
}


#show_photo {
  display: block;
  vertical-align: middle;
  box-shadow:0px 47px 86px 9px rgba(0,0,0,0.52);
  border: 15px solid black;
}
#idx_photo{
  box-shadow:0px 47px 86px 9px rgba(0,0,0,0.52);
}

.hidden {
  display: none;
}

.ftr_lnk {
  margin-right: 5vw;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 1000;
}
.ftr {
  display: flex;
  align-items: center;
}
#user_bar{
  margin-bottom: 0;
}
#profile_btn {
  position: fixed;
  bottom: 0;
  z-index: 1200;
}
#photo_display{
  margin-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
#card_title {
  font-size: 1.3vw;
}
#card_photo {
  display: block;
  max-height: 200px;
  width: 100%;
  height: auto;
}
.social-share-button {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.comments-header {
  height: 25%;
}

.comments-container {
  min-height: 50%
}


