// Place all the styles related to the landmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}

.blueify {
  color: #03a9f4 !important;
}

#map-container {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  padding: 0;
}

#landmark-sidebar {
  background-color: #d1c4e9;
  height: 100%;
  overflow: auto;
}
